p
{
font-family : georgia;
}
.cover
{
font-family : forte,cooper black;
font-size : 40px;
text-align : center;
}
.head
{
font-family : cooper black;
}
.bhairava img
{
width : 300px;
height : 350px;
}
.photos img
{
width : 300px;
height: 300px;

}
.photos
{
display : flex;
flex-warp : warp;
}
