.cover
{
text-align : center;  
color : white ;
font-family : forte,algerian ;
font-size : 40px;
}
.category
{

font-family : forte,algerian ;
color : #E6E6FA;
}
.shop
{
  font-family : forte,algerian;
  color : #E6E6FA ;
  font-size : 30px;
}
.molly
{
font-family : forte,algerian;

color : #E6E6FA	;
font-size : 30px;
}
.photos img
{
width : 1250px;
height : 325px;
}
.photos
{
padding-top : 0px;
display : flex ;
flex-warp : warp ;
}
.tolly
{
font-family : forte,algerian;

color : #E6E6FA	;
font-size : 30px;
}

.bolly
{
font-family : forte,algerian;

color : #E6E6FA	;
font-size : 30px;
}
.pic img
{
width :1250px;
height : 325px; 
}
.pic 
{
padding-top : 0px;
display : flex ;
flex-warp : warp ;
}

