.full
{
background-color : #FAEBD7;
}
p
{
font-family : georgia;
}
.cover
{
font-family : algerian;
font-size : 40px;
text-align : center;
color : white;
}
.head
{
font-family : cooper black;
}
.bhairava img
{
width : 300px;
height : 350px;
}
.photos img
{
width : 300px;
height: 300px;

}
.photos
{
display : flex;
flex-warp : warp;
}
